.sprite {
  width: 20%;
}
.welcome-message {
    text-align: center;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}
.pokemon-details-container {
    display: flex;
    justify-content: space-around;
}

.pokemon-detail {
    flex: 1;
    margin: 0 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-detail img.sprite {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}


